._profilePreview_51w34_63 {  
    display: none !important;  
}

._profileContainer_51w34_53 {  
    display: none !important;  
}  

.main.st-emotion-cache-uf99v8 {  
    background-color: yellow !important;  
}  
